<div xmlns:th="http://www.thymeleaf.org"  th:fragment="card" >
    <div class="cardGroup my-5 px-2 flex-wrap" style=" display:grid; grid-template-columns:repeat(4, 1fr);
    justify-items: center;">

        <style>
            .card:hover {
                transform: translateY(-5px);
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
                background-color: #f59654;
                color: white;
                cursor: pointer;
                border: none;
            }
        </style>
        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">

            <img src="/assets/img/prormos/5.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem1">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Personal Shopper</h5>
                <p class="card-text">Contate hoje um profissional para iniciar sua jornada de compras
                    personalizadas e descubra como podemos ajudar a tornar seu estilo único e memorável.</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Confira</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/6.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem2">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Redes Sociais</h5>
                <p class="card-text">Descubra um especialista pronto para impulsionar suas redes sociais
                    e levar seus negócios a novos patamares. Estamos aqui para ajudá-lo a alcançar o sucesso que você merece!</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Confira</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/7.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem3">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Organize sua Rotina</h5>
                <p class="card-text">Aqui, você descobre métodos e especialistas que podem aprimorar
                    significativamente sua rotina e desempenho no trabalho.</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Confira</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/8.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem4">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Revise suas Propostas</h5>
                <p class="card-text">Encontre especialistas para auxiliá-lo na revisão da
                    documentação ou em qualquer tarefa, garantindo a entrega de um trabalho impecável.</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Confira</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/1.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem1">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Seja um Go Agent</h5>
                <p class="card-text">Faça parte da nossa plataforma de serviços e tenha acesso a oportunidades incríveis!
                    Torne-se um agente e receba solicitações de clientes interessados em contratar seus serviços.</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Acessar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/2.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem2">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">A maior plataforma</h5>
                <p class="card-text">A GoService é uma plataforma online cuidadosamente projetada com o princípio
                    fundamental de facilitar a conexão direta e eficaz entre profissionais autônomos altamente qualificados.</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Encontre um profissional</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/3.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem3">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Planos de aulas</h5>
                <p class="card-text">Descubra nossos professores altamente qualificados que estão prontos
                    para tornar seu estudo dinâmico e fácil. Explore nossos planos agora mesmo!</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Ver os planos</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; border-radius: 50px; margin-bottom: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);">
            <img src="/assets/img/prormos/4.png" class="card-img-top" style="border-radius: 50px 0px" alt="imagem4">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Chame nossos GoAgents</h5>
                <p class="card-text">Seu final de semana é precioso demais para ser gasto em tarefas que você não gosta!
                    Deixe nossos agentes cuidarem do trabalho indesejado e aproveite seu final de semana com tranquilidade</p>
                <a href="#" class="btn btn-primary" style="align-self: center" >Confira</a>
            </div>
        </div>


    </div>
</div>

