<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content}, ~{::#conteudo})">
<head>
    <title>GoService | Política de privacidade</title>
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>
    <h1 id="politica-title" class="text-center">Política de privacidade</h1>
    <div class="container-politica">

        <div class="row">
            <div class="col-12">
                <h4>Introdução</h4>
                <p>
                    Bem-vindo ao GoService. Este documento ("Política de Privacidade") é projetado para fornecer
                    uma descrição abrangente das práticas que adotamos no tratamento de suas informações pessoais.
                    Entendemos a importância de proteger suas informações e estamos comprometidos com a transparência
                    e a justiça na maneira como as coletamos, usamos e compartilhamos.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Aceitação dos termos</h4>
                <p>
                    Ao acessar, se cadastrar ou utilizar nossos serviços, você concorda expressamente
                    com as práticas descritas nesta Política de Privacidade.
                    Se você não concordar com algum aspecto desta Política,
                    solicitamos que não utilize nossos serviços.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Coleta de informações</h4>
                <h5>Informações fornecidas pelos usuários</h5>
                <p>
                    Ao se registrar no GoService, você será solicitado a fornecer determinadas informações pessoais,
                    como nome, endereço de e-mail, número de telefone e outros detalhes pertinentes.
                    Essas informações são necessárias para a criação e manutenção de sua conta,
                    bem como para fornecer a você os serviços solicitados.
                </p>
                <h5>Informações coletadas automaticamente</h5>
                <p>
                    Nós também coletamos automaticamente algumas informações quando você visita nosso site ou usa nosso serviço.
                    Isso inclui dados como o endereço IP do seu dispositivo, o tipo de navegador que você usa, as páginas que
                    você visita e a data e hora de sua visita.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Uso das Informações</h4>
                <strong>As informações coletadas são usadas para os seguintes propósitos:</strong>
                <ol>
                    <li>Facilitar o agendamento de serviços entre clientes e prestadores.</li>
                    <li>Melhorar e personalizar sua experiência de navegação.</li>
                    <li>Monitorar e analisar tendências e usos.</li>
                    <li>Comunicar-se com você sobre produtos, serviços, ofertas, promoções e outros.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Divulgação de Informações</h4>
                <h5>Terceiros</h5>
                <p>
                    Nós não vendemos, trocamos ou de outra forma transferimos suas informações pessoais para
                    terceiros sem fornecer aviso prévio, exceto nas seguintes circunstâncias:
                </p>
                <ol>
                    <li><b>Legalidade:</b> Quando exigido por lei ou em resposta a um processo legal.</li>
                    <li><b>Proteção:</b> Para proteger os direitos, propriedade ou segurança do GoService, de nossos usuários ou do público.
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Segurança</h4>
                <p>
                    Tomamos medidas rigorosas para proteger suas informações. Isso inclui o uso de protocolos de segurança, controles de acesso e
                    outras técnicas de segurança da informação. No entanto, não podemos garantir a segurança absoluta de suas informações.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Alterações na Política de Privacidade</h4>
                <p>
                    Esta Política de Privacidade pode ser atualizada periodicamente para refletir mudanças nas nossas práticas de coleta e uso de informações ou
                    mudanças relevantes na legislação. Recomendamos que você reveja esta Política frequentemente para se manter informado.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Legislação e Jurisdição</h4>
                <p>
                    Estes termos são regidos pelas leis aplicáveis no país em que o GoService opera.
                    Qualquer disputa relativa à privacidade é sujeita à jurisdição e aos tribunais do referido país.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Conformidade com a LGPD</h4>
                <p>
                    O GoService está em conformidade com a Lei Geral de Proteção de Dados (Lei Nº 13.709/2018), conhecida como LGPD. A LGPD é a lei brasileira que regula as
                    atividades de tratamento de dados pessoais e que também altera os artigos 7º e 16 do Marco Civil da Internet.
                </p>

                <h5>Direitos do Titular dos Dados</h5>
                <strong>De acordo com a LGPD, você tem diversos direitos em relação aos seus dados pessoais:</strong>
                <ol>
                    <li>Acesso: Você tem o direito de solicitar acesso às informações que temos sobre você.</li>
                    <li>Correção: Você tem o direito de corrigir qualquer informação incorreta ou incompleta.</li>
                    <li>Exclusão: Você pode solicitar a exclusão de suas informações pessoais, sujeito a certas condições.</li>
                    <li>Portabilidade: Você tem o direito de solicitar a transferência de seus dados para outro fornecedor de serviço ou produto.</li>
                    <li>Informação: Você tem o direito de saber se estamos utilizando suas informações para qualquer fim que não aqueles para os quais foram coletadas.</li>
                </ol>
                    <p>Para exercer qualquer um desses direitos, entre em contato conosco</p>
            </div>
        </div>

    </div>
</main>

<footer id="conteudo">
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>
