<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content}, ~{::#conteudo})">
<head>
    <title>GoService | Termos e condições</title>
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>
    <h1 id="termos-title" class="text-center">Termos e condições</h1>
    <div class="container-tercond">

        <div class="row">
            <div class="col-12">
                <p>
                    Ao acessar ou utilizar os serviços disponibilizados pelo GoService,
                    você reconhece e aceita cumprir integralmente os Termos e Condições de Uso
                    descritos abaixo. Estes Termos aplicam-se a todos os visitantes, usuários e
                    outras partes interessadas que interajam com o GoService, incluindo, mas não se limitando a,
                    administradores, prestadores de serviços e clientes ('Partes'). Se você não concorda com
                    qualquer parte destes Termos, é aconselhável que não utilize ou acesse os serviços oferecidos por nós
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Clientes</h4>
                <p>
                    Os clientes têm a obrigação de agendar serviços apenas com a intenção
                    autêntica de utilizá-los. Cancelamentos são permitidos apenas dentro de
                    um período específico estipulado previamente e somente se o prestador de
                    serviços não tiver confirmado o agendamento. O descumprimento destas
                    diretrizes está sujeito a penalidades, que podem variar de multas até a exclusão
                    permanente da plataforma GoService. Adicionalmente, é imperativo que os clientes
                    respeitem todas as condições e parâmetros de serviço estabelecidos pelos
                    prestadores de serviço, conforme descritos no perfil do prestador ou acordados
                    por meio de comunicação direta.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Prestadores</h4>
                <p>
                    Os prestadores de serviço têm a responsabilidade de assegurar sua disponibilidade
                    antes de aceitar qualquer agendamento de serviço. Caso haja necessidade de alteração
                    ou cancelamento, é mandatório que tal informação seja comunicada ao cliente de forma
                    clara e imediata, preferencialmente antes de qualquer confirmação formal do serviço
                    agendado. A execução do serviço deve ser efetuada de maneira profissional, ética
                    e em estrita conformidade com os Termos e Condições de Uso, bem como com as
                    Políticas de Privacidade estabelecidas pelo GoService.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Administradores</h4>
                <p>
                    Os administradores têm a incumbência de assegurar o funcionamento ininterrupto e
                    eficaz do site, bem como de monitorar rigorosamente todas as atividades realizadas
                    na plataforma com o objetivo de prevenir e coibir qualquer forma de abuso ou conduta
                    inadequada. Adicionalmente, cabe aos administradores a responsabilidade de atualizar
                    periodicamente estes Termos e Condições de Uso, para garantir que estejam em conformidade
                    com as melhores práticas do setor e com os requisitos legais aplicáveis.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Cadastro</h4>
                <h5>1. Aceitação dos Termos</h5>
                <p>
                    Ao acessar ou usar os serviços oferecidos pelo GoService, você
                    concorda em cumprir e estar vinculado aos seguintes Termos e Condições
                    de Uso. Se você não concordar com estes Termos, não utilize nossos serviços.
                </p>
                <h5>2. Cadastro de Conta</h5>
                <p>
                    Para utilizar os serviços disponíveis através do GoService,
                    é necessário criar e manter uma conta válida.
                    Durante o processo de cadastro, você será solicitado a
                    fornecer informações pessoais que incluem, mas não se limitam a, nome,
                    endereço de e-mail, senha e outros detalhes relevantes.
                </p>
                <h6>2.1 Veracidade das Informações</h6>
                <p>
                    Você concorda em:
                </p>
                <ul>
                    <li>
                        Fornecer informações de cadastro verdadeiras, precisas,
                        atuais e completas sobre você, conforme solicitado pelo
                        nosso formulário de registro.
                    </li>
                    <li>
                        Manter e atualizar imediatamente as informações de cadastro
                        para mantê-las verdadeiras, precisas, atuais e completas.
                    </li>
                </ul>
                <h6>2.2 Consequências da Informação Falsa</h6>
                <p>
                    Se você fornecer qualquer informação que seja falsa,
                    imprecisa, desatualizada ou incompleta, ou se
                    tivermos motivos razoáveis para suspeitar que tal
                    informação seja falsa, imprecisa, desatualizada ou incompleta,
                    reservamo-nos o direito de suspender ou encerrar sua conta e de
                    recusar qualquer uso atual ou futuro dos Serviços (ou qualquer parte deles).
                </p>

                <h5>3. Privacidade</h5>
                <p>
                    Seu uso do site também é regido pela nossa Política de Privacidade.
                    Consulte a <a href="/politica-de-privacidade">Política de Privacidade</a>
                    para entender como coletamos, usamos e protegemos as informações que você nos fornece.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Isenção de Responsabilidade</h4>
                <p>
                    O GoService atua unicamente como uma plataforma intermediária,
                    destinada a facilitar o agendamento e a interação entre clientes e
                    prestadores de serviço. Não detemos controle direto nem assumimos qualquer
                    forma de responsabilidade relacionada à conduta dos usuários,
                    qualidade do serviço, danos, perdas ou quaisquer outras questões que possam
                    surgir antes, durante ou após a execução do serviço contratado.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h4>Alterações nos Termos</h4>
                <p>
                    Reservamo-nos o direito unilateral de modificar, atualizar ou revisar estes Termos
                    e Condições de Uso a nosso exclusivo critério, em qualquer momento e sem aviso prévio.
                    Quaisquer alterações ou modificações entrarão em vigor imediatamente após serem publicadas
                    na plataforma GoService. Portanto, é de inteira responsabilidade de todos os usuários,
                    incluindo clientes, prestadores de serviço e administradores, revisar periodicamente estes
                    Termos e Condições de Uso para se manterem atualizados quanto a quaisquer mudanças.
                    A continuação do uso da plataforma após a publicação de termos revisados implicará na aceitação
                    tácita destas modificações.
                </p>
            </div>
        </div>

    </div>
</main>

<footer id="conteudo">
    <div th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>
